@font-face {
    font-family: 'Inter-Regular';
    src: url('../styles/fonts/Inter-Regular.ttf');
}
@font-face {
    font-family: 'Inter-Bold';
    src: url('../styles/fonts/Inter-Bold.ttf');
}

body {
    margin: 0;
    -webkit-font-smoothing: subpixel-antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    text-transform: none;
}

.home-info-container {
    position: relative;
    width: 640px;
    margin: 0 auto;
    top: 98px;
    font-family: 'Inter-Regular';
    font-size: 18px;
}

.home-heading {
    font-family: 'Inter-Bold';
    font-size: 35px;
}

@media (max-width: 450px) {
    .home-info-container {
        position: relative;
        width: 300px;
        margin: 0 auto;
        top: 95px;
        font-family: 'Inter-Regular';
        font-size: 18px;
    }
    
    .home-heading {
        font-family: 'Inter-Bold';
    }
}