@font-face {
    font-family: 'Inter-Regular';
    src: url('../styles/fonts/Inter-Regular.ttf');
}
@font-face {
    font-family: 'Inter-Bold';
    src: url('../styles/fonts/Inter-Bold.ttf');
}

body {
    margin: 0;
    /*background-color: #edecec;*/
}

.home-info-container {
    position: relative;
    /*border: 1px solid black;*/
    width: 648px;
    margin: 0 auto;
    top: 98px;
    font-family: 'Inter-Regular';
    font-size: 18px;
}

.home-heading {
    font-family: 'Inter-Bold';
    font-size: 35px;
}

@media (max-width: 450px) {
    body {
        margin: 0;
        /*background-color: #edecec;*/
    }
    
    .home-info-container {
        position: relative;
        /*border: 1px solid black;*/
        width: 300px;
        margin: 0 auto;
        top: 95px;
        font-family: 'Inter-Regular';
        font-size: 18px;
    }
    
    .home-heading {
        font-family: 'Inter-Bold';
    }
}