.article-date {
    color: grey;
    padding-top: 10px;
}

.article-slot-container {
    position: relative;
    top: 15px;
}

.article-slot-container blockquote  {
    border-left: 3px solid #909090;
    margin: 1.5em 2px;
    padding: 0.5em 10px;
    font-family: 'Inter-Regular';
    font-size: 18px;
    color: grey; 
}
.article-slot-container blockquote:before {
    color: #c1c1c1; 
    font-size: 4em;
    line-height: 0.1em;
    vertical-align: -0.4em;
}
.article-slot-container hr {
    border-color: black;
}
.article-slot-container a {
    color: #5C6BC0;
    text-decoration: none;
}
.article-slot-container pre {
    padding: 15px 15px 15px 15px;
    font-size: 18px;
}
.article-slot-container p code {
    color: rgb(35, 35, 35);
    border-radius: 10px;
    padding: 2px 2px 2px 2px;
}
.article-slot-container img {
    max-width: 100%;
    height: auto;
}