@font-face {
    font-family: 'Inter-Regular';
    src: url('../styles/fonts/Inter-Regular.ttf');
}
@font-face {
    font-family: 'Inter-Bold';
    src: url('../styles/fonts/Inter-Bold.ttf');
}

.markdown-article {
    position: relative;
    width: 640px;
    margin: 0 auto;
    top: 95px;
    padding-bottom: 100px;
    font-size: 17px;
}

.article-heading {
    font-family: 'Inter-Bold', 'system-ui';
    font-size: 32px;
}

.article-author {
    font-family: 'Inter-Regular', 'system-ui';
    font-size: 15px;
}

.article-date {
    font-family: 'Inter-Regular', 'system-ui';
    font-size: 15px;
    color: grey;
    padding-top: 10px;
}

.article-slot-container {
    position: relative;
    top: 20px;
    /*border: 1px solid black;*/
}

.article-slot-container h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter-Bold', 'system-ui';
}
.article-slot-container p {
    font-family: 'Inter-Regular', 'system-ui';
}
.article-slot-container li {
    font-family: 'Inter-Regular', 'system-ui';
}
.article-slot-container ul {
    font-family: 'Inter-Regular', 'system-ui';
}
.article-slot-container blockquote  {
    border-left: 3px solid #909090;
    margin: 1.5em 2px;
    padding: 0.5em 10px;
    font-family: 'Inter-Regular', sans-serif, 'system-ui';
    font-size: 17px;
    color: grey; 
}
.article-slot-container blockquote:before {
    color: #c1c1c1; 
    font-size: 4em;
    line-height: 0.1em;
    vertical-align: -0.4em;
}
.article-slot-container hr {
    border-color: black;
}
.article-slot-container a {
    color: #5C6BC0;
    text-decoration: none;
}
.article-slot-container pre {
    padding: 15px 15px 15px 15px;
    font-size: 15px;
}
.article-slot-container p code {
    color: rgb(35, 35, 35);
    border-radius: 10px;
    padding: 2px 2px 2px 2px;
}

@media (max-width: 450px) {
    .markdown-article {
        position: relative;
        width: 300px;
        margin: 0 auto;
        top: 95px;
        padding-bottom: 100px;
        font-size: 17px;
    }
}