---
import NavBar from '../components/Navbar.astro'
import MyBlog from '../components/MyBlog.astro'
---

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Blog | Alex Leung</title>
</head>
<NavBar></NavBar>
<MyBlog></MyBlog>
