---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout>
  <div slot="page-heading">CONTACT</div>
  <div slot="page-content">
    <p class="contact-paragraph">
      You can reach me at <a href="mailto:alexleung25@outlook.com" target="_blank"
        >alexleung25@outlook.com</a
      > for any professional contact or opportunities.
    </p>
    <p class="contact-paragraph">
      Feel free to connect on <a
        href="https://www.linkedin.com/in/alex-leung-a80bb7293/"
        target="_blank">LinkedIn</a
      >.
    </p>
  </div>
</DefaultLayout>
