---
import '../styles/global.css'
import Navbar from '../components/Navbar.astro'

const indexDocTitle: string = "Alex Leung | Home";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{indexDocTitle}</title>
	</head>
	<body>
		<Navbar></Navbar>
		<div class="home-info-container">
			<h1 class="home-heading">About Me</h1>
			<p class="home-paragraph">
				Hello, I'm Alex.
				<br>
				<br>
				I'm interested in software development, open-source, and human-computer interaction. I am always learning and being 
				fascinated by the intersection between humans and software.
			</p>
		</div>
	</body>
</html>
