---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<DefaultLayout>
  <div slot="page-heading">HI 你好, I'M ALEX!</div>
  <div slot="page-content">
    <p class="about-pronouns">[<i> he / him </i>]</p>
    <p class="about-paragraph">
      I'm a software developer with a focus on front-end and full-stack.
    </p>
  </div>
</DefaultLayout>
