---
import Navbar from '../components/Navbar.astro'
import Footer from '../components/Footer.astro'

import '../styles/styles.css'

interface IProject {
    name: string,
    info: string,
    link: string,
    language: string[]
}

const project: IProject[] = [
    {
        name: "Iris",
        info: "A comfortable note-taking app powered by Markdown.",
        link: "https://github.com/alexwkleung/Iris",
        language: ["TypeScript", "Rust"]
    },
    {
        name: "TermStylist",
        info: "A header-only terminal colours library.",
        link: "https://github.com/alexwkleung/TermStylist",
        language: ["C++"]
    }
]
---

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projects | Alex Leung</title>
	</head>
	<body>
		<div id="root">
			<Navbar></Navbar>
			<main>
				<div id="projects-main-container">
                    <div class="project-intro">
                        <h2 id="project-intro-heading">Projects</h2>
                        <p>
                            This is a list of my showcased projects. Other projects can be found on my GitHub.
                        </p>
                    </div>

                    <div id="project-grid-container">
                        {
                            project.map((props) => 
                                <div class="project-container">
                                    <h2 class="project-name-heading">{props.name}</h2>

                                    <div class="project-info">
                                        <p>{props.info}</p>
                                    </div>

                                        {
                                            props.language.map((lang) => 
                                                <span class="project-language">
                                                    {lang}
                                                </span>    
                                            )
                                        }

                                    <div class="project-link-container">
                                        <a href={props.link} class="project-a" target="_blank">GitHub Repo</a>
                                    </div>
                                </div>
                            )
                        }
                    </div>
                </div>
			</main>
			<Footer></Footer>
		</div>
	</body>
</html>

<style>
    .project-container:not(.project-container:first-child) {
        margin-top: 40px;
        border-top: solid 1px black;
    }
    .project-container:last-child {
        margin-bottom: 20px;
    }

    .project-a {
        position: relative;
        text-decoration: none;
        color: #5C6BC0;
        font-size: 1em;
        top: 18px;
    }

    .project-language {
        border-radius: 5px;
        padding: 3px;
        font-size: 16px;
        background-color: rgb(217 215 215);
        margin-right: 7px;
        color: #000000;
    }

    @media (min-width: 920px) {
        .project-container {
            margin-bottom: 20px;
        }

        .project-container:not(.project-container:first-child) {
            margin-top: 0px;
            border-top: none;
        }
        .project-container:last-child {
            margin-bottom: 0px;
        }

        #project-grid-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
</style>