---
import { getCurrYear } from "../util/year";
---

<footer>
    <p>
        Alex Leung &copy; 2023 - {getCurrYear}
    </p>
</footer>

<style>
    footer {
        width: calc(320px / 1.3);
        margin: auto;
    }
</style>