---
import dayjs from 'dayjs'

const allPosts = [...await Astro.glob('../pages/blog/*.md')];

let postCount: string = "";

if(allPosts.length === 0) {
    postCount = String(allPosts.length + " posts");
} else if(allPosts.length === 1) {
    postCount = String(allPosts.length + " post");
} else {
    postCount = String(allPosts.length + " posts");
}
---

<div class="posts-list-container">
    <h1 class="posts-list-heading">Blog 
        <span id="post-count">
            ({postCount})
        </span>
    </h1>
    <p class="blog-list-intro-p">
        This is my personal blog.
    </p>
    {
    allPosts.reverse().map((post) =>
        <div class="post">
            <li class="post-li">
                <a href={post.url} class="post-a">{post.frontmatter.title}</a>
                <div class="post-date">
                    {dayjs(post.frontmatter.date).format('MMMM DD, YYYY')}
                </div>
            </li>
        </div>
      )
    }
</div>

<style>
    @font-face {
        font-family: 'Inter-Regular';
        src: url('../styles/fonts/Inter-Regular.ttf');
    }
    @font-face {
        font-family: 'Inter-Bold';
        src: url('../styles/fonts/Inter-Bold.ttf');
    }

    .posts-list-container {
        position: relative;
        width: 640px;
        margin: 0 auto;
        top: 98px;
        bottom: 85px;
        font-size: 18px;
        padding-bottom: 65px;
    }

    .post-date {
        padding-top: 10px;
        padding-bottom: 20px;
        padding-right: 10px;
        font-family: 'Inter-Regular';
        font-size: 16px;
        color: grey;
    }

    .posts-list-heading {
        font-family: 'Inter-Bold';
        font-size: 35px;
    }
    #post-count {
        font-family: 'Inter-Regular';
        font-size: 18px;
    }

    .post-li {
        list-style: none;
        font-family: 'Inter-Regular';
    }

    .post-a {
        text-decoration: none;
        color: #5C6BC0;
        text-decoration-color: black;
    }

    .blog-list-intro-p {
        position: relative;
        font-family: 'Inter-Regular';
        font-size: 18px;
        margin: 0 auto;
        width: 640px;
        top: 0px;
        padding-bottom: 30px;
    }

    @media (max-width: 450px) {
        .posts-list-container {
            position: relative;
            width: 300px;
            margin: 0 auto;
            top: 115px;
            bottom: 85px;
            font-size: 17px;
            padding-bottom: 65px;
        }

        .blog-list-intro-p {
            position: relative;
            font-family: 'Inter-Regular';
            font-size: 18px;
            margin: 0 auto;
            width: 300px;
            top: 0px;
            padding-bottom: 30px;
        }
    }
</style>