---
import dayjs from 'dayjs'

const allPosts = [...await Astro.glob('../pages/blog/*.md')];

let postCount: string = "";

if(allPosts.length === 0) {
    postCount = String(allPosts.length + " posts");
} else if(allPosts.length === 1) {
    postCount = String(allPosts.length + " post");
} else {
    postCount = String(allPosts.length + " posts");
}
---

<div class="posts-list-container">
    <h2 class="posts-list-heading">Blog 
        <span id="post-count">
            ({postCount})
        </span>
    </h2>
    <p class="blog-list-intro-p">
        This is my personal blog. I use this to share my thoughts/opinions and a place to write more.
    </p>
    {
    allPosts.reverse().map((post) =>
        <div class="post">
            <li class="post-li">
                <a href={post.url} class="post-a">{post.frontmatter.title}</a>
                <div class="post-date">
                    {dayjs(post.frontmatter.date).format('MMMM DD, YYYY')}
                </div>
            </li>
        </div>
      )
    }
</div>

<style>
    .post-date {
        color: grey;
        font-size: 0.9em;
        margin-top: 5px;
    }
    #post-count {
        font-size: 0.6em;
    }

    .post-li {
        list-style-type: none;
    }

    .post-a, .posts-list-container a {
        text-decoration: none;
        color: #5C6BC0;
    }
</style>