---
import '../styles/Navbar.css'
---

<div class="navbar-container">
    <a href="/" class="home-a">Home</a>
    <a href="/projects" class="projects-a">Projects</a>
    <a href="https://github.com/alexwkleung" class="github-a">GitHub</a>
</div>