---
const currPath: string = Astro.url.pathname;

import "../styles/global.css";
---

<div class="navbar-root">
  <div class="navbar-inner-parent">
    <div class="navbar-left-static text">Alex Leung</div>
    <div class="navbar-right-links">
      <a href="/" class={`nav-link text ${currPath === "/" ? "active" : ""}`}>about</a>
      <a href="/projects" class={`nav-link text ${currPath === "/projects" ? "active" : ""}`}
        >projects</a
      >
      <a href="/contact" class={`nav-link text ${currPath === "/contact" ? "active" : ""}`}
        >contact</a
      >
    </div>
  </div>
</div>
