---
const githubLink: string = "https://github.com/alexwkleung";
---

<div class="navbar-container">
    <a href="/" class="navbar-a">Home</a>
    <a href="/projects" class="navbar-a">Projects</a>
    <a href={githubLink} class="navbar-a">GitHub</a>
</div>

<style>
    @font-face {
        font-family: 'Inter-Regular';
        src: url('../styles/fonts/Inter-Regular.ttf');
    }

    @font-face {
        font-family: 'Inter-Bold';
        src: url('../styles/fonts/Inter-Bold.ttf');
    }

    .navbar-container {
        position: relative;
        /*border: 1px solid black;*/
        width: 640px;
        text-align: left;
        margin: 0 auto;
        top: 80px;
        font-family: 'Inter-Regular', 'system-ui';
        font-size: 18px;
    }

    .navbar-a {
        text-decoration: none;
        padding-right: 10px;
        color: #5C6BC0;
    }

    @media (max-width: 450px) {
        .navbar-container {
            position: relative;
            /*border: 1px solid black;*/
            width: 300px;
            text-align: left;
            margin: 0 auto;
            top: 80px;
            font-family: 'Inter-Regular', 'system-ui';
            font-size: 18px;
        }
    }
</style>