---
import '../styles/PostsList.css'
import dayjs from 'dayjs'

const allPosts = [...await Astro.glob('../pages/posts/*.md')];

let postCount: string = "";

if(allPosts.length === 0) {
    postCount = String(allPosts.length + " posts");
} else if(allPosts.length === 1) {
    postCount = String(allPosts.length + " post");
} else {
    postCount = String(allPosts.length + " posts");
}
---

<div class="posts-list-container">
    <h1 class="posts-list-heading">Blog 
        <span id="post-count">
            ({postCount})
        </span>
    </h1>
    {
    allPosts.reverse().map((post) =>
        <div class="post">
            <li class="post-li">
                <a href={post.url} class="post-a">{post.frontmatter.title}</a>
            </li>
            <div class="post-date">
                {dayjs(post.frontmatter.pubDate).format('MMMM DD, YYYY')}
            </div>
        </div>
      )
    }
</div>